node_modules
dist
dist.zip
*.zip

.DS_Store
.idea

*.log

yarn.lock
electron_env/oldReleses
electron_env/x86
electron_env/x64
build
public
pack
pc_release
appjs
release
native/.vs
native/RunHelper/bin
native/exec/.vs
native/exec/RunHelper/bin
native/exec/RunHelper/obj
*.user
native/**/Debug
native/**/Release
native/**/.vs
publish/electronDist
downloads
versionDownloads
.sass-cache

lib
